<!-- Nav Bar -->
<div id="navbar">
  <ul class="nav  d-flex flex-row-reverse ">

    <li class="nav-item pull-right">
      <a class="nav-link" (click)="oktaAuth.logout()">Log Out</a>
    </li>

    <li class="nav-item ">
      <a class="nav-link active" id="user" href="#" userId="">Welcome, {{fullName}}</a>
    </li>
  </ul>
</div>
<div class="container" id="mainWrapper">

  <!-- Header -->
  <div class="row">
    <div id="header">
      <p class="text-success">Xpire<i class="fab fa-pagelines"></i></p>
    </div>
  </div> <!-- end of row-->
  
  <!-- Modal -->
  <div>
    <app-modal *ngIf="showModal"></app-modal>
  </div>
  <!-- End of modal -->

  <div class="row">
    <div id="miniWrapper">
      <!-- Input Field -->
      <div id="input">
        <h5>Insert a food item here: </h5>
        <input [(ngModel)]="groceryItemQuery" type="text" id="inputField" class="form-control" required placeholder="ex. clams, milk, green beans, kimchi">
        
        <div class="mt-2 mb-2" *ngIf="showModal">
            <h5>Item not found! Please add shelf life in days:</h5>
            <input [(ngModel)]="groceryItemShelfLife" type="number" id="inputField" class="form-control" maxlength="4" required placeholder="ex. 2">
        </div>
        

      </div>
      <!-- Submit Button -->
      <div class="text-right">
        <button type="button" class="btn btn-outline-success" (click)="submit()">Submit
          <i class="far fa-arrow-alt-circle-up"></i>
        </button>
      </div>
    </div>
    <!-- displays the user's list of items -->
    <div class="container" id="userList">
      <table *ngIf="!shelfIsEmpty" >
        <tr>
          <th>Name</th>
          <th>Shelflife</th>
          <th class="exp-hd" class="exp-column">Expiration</th>
        </tr>
        <tr *ngFor="let key of items">
          <td>{{key.name}}</td>
          <td>{{key.shelfLife}}</td>
          <td class="exp-column exp-hd text-left">{{formatExpirationDate(key.expirationDate)}} 
            <button (click)="deleteItem(key.id)" class="delete btn btn-success" apiId="apiid"
              loginId="loginid"><i class="fas fa-minus"></i>
            </button> 
            </td>
        </tr>
      </table>
      <h2 *ngIf="shelfIsEmpty" id="empty-prompt">There are currently no items on your list!</h2>
      
    </div>
  </div>
</div>