#mainWrapper {
  margin-top: 50px;
  font-family: 'Poiret One';
  font-weight: bold;
}

#header {
  margin: auto;
  font-family: 'Poiret One', cursive;
  font-size: 50pt;
  display: flex;
  justify-content: center;
  width: 100%;
}
